@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Roboto Slab';
  }
  a:hover {
    text-decoration: underline;
  }
  a.link:link {
    color: #4ade80;
  }
  a.link:visited {
    color: #86efac;
  }
}