@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white;
  }
  header {
    @apply lg:sticky lg:top-0 lg:flex lg:h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24;
  }
  main {
    @apply pt-24 lg:w-1/2 lg:py-24;
  }
  section {
    @apply space-y-4;
  }
  h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1, h2 {
    @apply font-serif text-accent brightness-110;
  }
  p {
    @apply text-white/70;
  }
  a:not(.section-content, .section-content-project, .nav-link, .section-header) {
    @apply transition brightness-110 hover:brightness-125;
    @apply text-transparent bg-clip-text bg-gradient-to-r from-accent via-cyan-200 to-cyan-50;
  }
}

@layer components {
  .container {
    @apply mx-auto min-h-screen max-w-screen-xl py-12 px-6;
    @apply md:px-12 md:py-20;
    @apply lg:px-24 lg:py-0;
  }
  .nav {
    @apply hidden;
    @apply lg:block lg:py-12;
  }
  .nav-link {
    @apply transition pl-2 w-fit block brightness-75 font-bold text-sm tracking-widest uppercase text-accent -translate-x-2;
    @apply hover:brightness-110 hover:translate-x-0;
    @apply outline-none;
  }
  .nav-link.active {
    @apply brightness-110 border-l-2 border-accent translate-x-0;
    @apply text-transparent bg-clip-text bg-gradient-to-r from-accent via-cyan-200 to-cyan-50
  }

  .section-header {
    @apply pl-2 mb-12 font-bold text-sm tracking-widest uppercase;
    @apply brightness-110 border-l-2 border-accent;
    @apply text-transparent bg-clip-text bg-gradient-to-r from-accent via-cyan-200 to-cyan-50
  }

  .section-content {
    @apply transition p-4 scale-x-110 cursor-pointer hover:bg-accent/5;
    @apply sm:scale-x-[1.065] lg:grid lg:grid-cols-4;
  }
  .section-content-period {
    @apply text-xs uppercase font-medium tracking-widest;
  }
  .section-content.header {
    @apply font-medium tracking-wide brightness-110 text-accent;
  }
  .section-content-desc {
    @apply text-sm font-thin;
  }
  .section-content-project {
    @apply text-xs font-thin text-accent brightness-110;
    @apply hover:brightness-125 hover:underline;
  }
  .section-content-badge {
    @apply px-3 py-2 text-xs text-white/90 bg-accent/5 shadow-inner;
  }

  .btn {
    @apply transition px-4 py-3 font-bold capitalize;
    @apply hover:brightness-110;
  }
  .btn.primary {
    @apply bg-accent text-primary border-2 border-accent;
  }
  .btn.secondary {
    @apply bg-primary text-accent border-2 border-accent;
  }
  
  .humbleicons {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    margin-top: -0.1em;
  }
}